<div id="posts-container">
    {{#each posts}}
        <div class="post-container">
            <div class="post-header">
                <h3 class="post-title" title="{{title}}"><a href="/posts/{{_id}}">{{title}}</a></h3>
                <span class="post-time" title="Last activity: {{lastActivity}}">{{postTime}}</span>
                <span class="post-author">by: <a href="{{authorUrl}}">{{author}}</a></span>
            </div>
            <div class="post-body">
                {{#if image}}<img class="post-image" src="{{image}}" />{{/if}}
                <pre class="post-content">{{content}}</pre>
            </div>
            <div class="post-footer">
                <div class="post-score-container">
                    <a href="#upvote" data-post-url="/posts/{{_id}}/vote" class="post-vote post-upvote {{#if upvoted}}vote-selected{{/if}}" title="upvote">▲</a>
                    <span>/</span>
                    <a href="#downvote" data-post-url="/posts/{{_id}}/vote" class="post-vote post-downvote {{#if downvoted}}vote-selected{{/if}}" title="downvote">▼</a>
                    <span class="post-score">{{points}}</span>
                </div>
                <div class="post-footer-comment-container">
                    <a class="post-footer-comment" href="/posts/{{_id}}#comments"><img src="/images/icons/comment-icon.png" /> {{numOfComments}}</a>
                </div>
            </div>
            {{#if comments}}
            <div class="post-comments-container">
                <h2>Latest Comment</h2>
                {{#each comments}}
                    <div class="post-comment-container">
                        <div class="post-comment-header">
                            <a href="{{authorUrl}}">{{author}}</a>
                            <span class="post-time" title="Last activity: {{lastActivity}}">{{postTime}}</span>
                            {{#if userIsAuthor}}<a class="comment-delete" href="#delete-comment" data-post-url="/posts/{{../_id}}/comment/{{_id}}/delete" title="Delete this comment">x</a>{{/if}}
                        </div>
                        <div class="post-comment-body">
                            <pre class="post-comment-content">{{content}}</pre>
                        </div>
                        <div class="post-comment-footer">
                            <div class="post-comment-score-container">
                                <a href="#upvote" data-post-url="/posts/{{../_id}}/comment/{{_id}}/vote" class="post-vote post-upvote {{#if upvoted}}vote-selected{{/if}}" title="upvote">▲</a>
                                <span>/</span>
                                <a href="#downvote" data-post-url="/posts/{{../_id}}/comment/{{_id}}/vote" class="post-vote post-downvote {{#if downvoted}}vote-selected{{/if}}" title="downvote">▼</a>
                                <span class="post-score">{{points}}</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
    {{/each}}
</div>
<br>
<a class="new-post-link" href="/posts/create-post">NEW POST</a>