<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{#each extraCSS}}
        <link rel="stylesheet" href="/stylesheets/{{this}}.css" />
    {{/each}}
    {{#each extraJS}}
         <script src="/javascripts/{{this}}.js"></script> 
    {{/each}}
    <title>ReadIt - {{pageTitle}}</title>
</head>
<body>
    <div id="page-header">
        <a id="header-logo" href="/">
            <img src="https://2014mirimstudent49.files.wordpress.com/2014/03/temp-logo.png" alt="ReadIt" title="ReadIt"/>
        </a>
        <h1>{{pageTitle}}</h1>
        <div id="header-user">
            {{#with user}}
                <a style="font-size: 1.5em;" href="/users/profile/{{username}}">{{displayName}}</a><br>
                <a href="/users/logout">Logout</a>
            {{else}}
                <a href="/users/login">LOGIN</a><br>
                <a href="/users/register">REGISTER</a>
            {{/with}}
        </div>
    </div>
    <div id="main">
        {{{body}}}
    </div>
</body>
</html>